<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Right Livelihood App</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-app="rla">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<ul class="nav navbar-nav">
		<li ng-class="{ active: $state.current.name === 'list' }">
			<a ui-sref="list">List</a>
		</li>
		<li ng-class="{ active: $state.current.name === 'wall' }">
			<a ui-sref="wall">Wall</a>
		</li>
		<li ng-class="{ active: $state.current.name === 'map' }">
			<a ui-sref="map">Map</a>
		</li>
		<li ng-class="{ active: $state.current.name === 'info' }">
			<a ui-sref="info">Info</a>
		</li>
	</ul>
</nav>

<!-- Add your site or application content here -->
<div class="container">
	<div class="shadow north"></div>
	<div class="shadow east"></div>
	<div class="shadow south"></div>
	<div class="shadow west"></div>
	<div class="content" ng-if="!laureates" ng-include="'views/intro.tpl.html'" ng-controller="IntroCtrl">abc</div>
	<div class="content" ng-if="laureates" ui-view=""></div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<!--<script src="scripts/dev.js"></script>-->
<script src="scripts/services/helper.js"></script>
<script src="scripts/services/resource.js"></script>
<script src="scripts/services/rest.js"></script>
<script src="scripts/directives/slider.js"></script>
<script src="scripts/directives/scroller.js"></script>
<script src="scripts/directives/wallImage.js"></script>
<script src="scripts/directives/wave.js"></script>
<script src="scripts/controllers/intro.js"></script>
<script src="scripts/controllers/list.js"></script>
<script src="scripts/controllers/wall.js"></script>
<script src="scripts/controllers/map.js"></script>
<script src="scripts/controllers/info.js"></script>
<!-- endbuild -->
</body>
</html>
