
@font-face {
	font-family:rla_bodoni_seventy;
	src: url('fonts/bodoni_seventy.ttf');
}
@font-face {
	font-family:rla_bodoni_seventy;
	src: url('fonts/bodoni_seventy_bold.ttf');
	font-weight:bold;
}
@font-face {
	font-family:rla_helvetica_neue;
	src: url('fonts/helvetica_neue.ttf');
}
@font-face {
	font-family:rla_helvetica_neue;
	src: url('fonts/helvetica_neue_bold.ttf');
	font-weight:bold;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background: linear-gradient(#550000, #000000);
	font-family: rla_bodoni_seventy;
	height: 100%;
	width: 100%;
}

br.clear {
	clear: both;
}

nav {
	display: none;
}

.container {
	background: #ffffff;
	height: 768px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 1024px;
}

.shadow {
	background: black;
	box-shadow: 0 0 100px 8px black;
	position: absolute;
	z-index: 100;
}

.shadow.north {
	top: -1px;
	left: 0;
	width: 100%;
	height: 1px;
}

.shadow.east {
	top: 0;
	right: -1px;
	width: 1px;
	height: 100%;
}

.shadow.south {
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
}

.shadow.west {
	top: 0;
	left: -1px;
	width: 1px;
	height: 100%;
}

.error {
	color: #ff0000;
}

.not-found {
	padding: 100px 50px;
	text-align: center;
}

.not-found h1 {
	color: #007dbf;
	font-style: italic;
	font-weight: bold;
}

.not-found p {
	color: #007dbf;
	font-size: 16px;
}

.not-found a {
	font-size: 18px;
	font-weight: bold;
}

img.rotate-y {
	padding: 20px 0;
	-webkit-animation: logoRotate 5s linear 1s infinite;
	animation: logoRotate 5s linear 1s infinite;
}

/* animation: logo rotate */
@-webkit-keyframes logoRotate {
	0%	{ -webkit-transform: rotateY(0deg); }
	50%	{ -webkit-transform: rotateY(180deg); }
	100%{ -webkit-transform: rotateY(360deg); }
}
@keyframes logoPulse {
	0%	{ transform: rotateY(0deg); }
	50%	{ transform: rotateY(180deg); }
	100%{ transform: rotateY(360deg); }
}

.content,
.not-found,
.info,
.map,
.wall,
.list {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.fadeIn1s {
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
	from{ opacity: 0; }
	to	{ opacity: 1; }
}

@keyframes fadeIn {
	from{ opacity: 0; }
	to	{ opacity: 1; }
}

/* info */

.info {
	background: #eeece7;
	color: #58585a;
	overflow-y: scroll;
	padding: 50px 80px;
}

.info p {
	font-size: 14px;
	padding-bottom: 20px;
}

.info h3.paragraph-title {
	font-size: 20px;
	font-weight: bold;
}

.info .page {
	background: #f7f7f7;
	border: 1px solid #bbbbbb;
	border-radius: 20px;
	padding: 10px 40px;
}

.info .title {
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 20px;
}

.info .image {
	float: left;
}

.info .quote img,
.info .quote p {
	padding-bottom: 30px;
}

.info .quote img {
	float: left;
}

.info .quote p {
	color: #1584da;
	float: right;
	font-size: 26px;
	font-weight: bold;
	padding-right: 20px;
	width: 450px;
}

.info .links div {
	float: left;
	font-weight: bold;
	width: 400px;
}

.info .links img {
	float: right;
	margin: 30px 70px;
}

/* list */

.list .logo {
	left: 150px;
	position: absolute;
	top: 220px;
	z-index: 100;
}

.list .item {
	height: 200px;
	left: 50%;
	margin-left: -300px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 600px;
}

.list .item span {
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	padding: 2px 5px;
}

.list .item .quote-part.first {
	padding-left: 100px;
}

.list .item .quote-part {
	margin: 2px 0;
	text-align: left;
}

.list .item .quote-part .line {
	background: #007dbf;
	color: #ffffff;
}

.list .item .button {
	float: right;
	margin-top: 4px;
	/*text-align: right;*/
}

.list .item .button .text {
	background: #82bb24;
	color: #ffffff;
	cursor: pointer;
}

.list .item .button .arrow {
	border-style: solid;
	border-width: 12px 0 12px 15px;
	border-color: transparent transparent transparent #82bb24;
	height: 0;
	margin-bottom: -6px;
	margin-left: -2px;
	padding: 0;
	width: 0;
}

/* wall */

.wall {
	background: #000000;
	color: #ffffff;
	overflow-y: scroll;
}

.wall .frame {
	padding: 50px;
}

.wall .image {
	float: left;
	position: relative;
	-webkit-transition: -webkit-transform 0.5s;
}

.wall .image.active {
	box-shadow: 0 0 20px 5px #007dbf;
}

.wall .image .quote {
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	padding: 2px;
	position: absolute;
}

.wall .image a {
	color: #ffffff;
	font-size: 6px;
}

.wall .image a h4 {
	font-size: 10px;
}

.wall .image a h4 span {
	font-size: 5px;
}