<div class="info fadeIn" ts-slider="">
	<div class="page">
		<h1 class="title">{{ laureate.firstname + ' ' + laureate.lastname }} ({{ laureate.year }} / {{ laureate.country }})</h1>
		<div class="quote">
			<img alt="{{ laureate.firstname + ' ' + laureate.lastname }}" width="300" src="/laureates/{{ laureate.portrait }}" />
			<p>{{ laureate.citation }}</p>
		</div>
		<br class="clear" />
		<div ng-bind-html="biography"></div>
		<hr />
		<div class="links">
			<div class="list-group">
				<a ng-href="{{ laureate.link1 }}" class="list-group-item">Acceptance Speech by {{ laureate.firstname + ' ' + laureate.lastname }}</a>
				<a ng-href="{{ laureate.link2 }}" class="list-group-item">Publications by {{ laureate.firstname + ' ' + laureate.lastname }}</a>
				<a ng-href="{{ laureate.link3 }}" class="list-group-item">Interview with {{ laureate.firstname + ' ' + laureate.lastname }}</a>
				<a ng-href="{{ laureate.link4 }}" class="list-group-item">Pictures of {{ laureate.firstname + ' ' + laureate.lastname }}</a>
				<a ng-href="{{ laureate.link5 }}" class="list-group-item">News about {{ laureate.firstname + ' ' + laureate.lastname }}</a>
				<a ng-href="{{ laureate.link6 }}" class="list-group-item">Better World Links</a>
				<a ng-href="{{ laureate.link7 }}" class="list-group-item">Contact Details</a>
			</div>
			<img src="images/logo200x200.png" class="rotate-y" />
		</div>
		<br class="clear" />
	</div>
</div>