<div class="info fadeIn1s" ts-slider="neighbours">
	<div class="page">
		<h1 class="title">{{ laureate.name }} ({{ laureate.year }} / {{ laureate.country }})</h1>
		<div class="quote">
			<img alt="{{ laureate.name }}" height="350" width="300" src="data:image/jpeg;base64,{{ laureate.portrait }}" />
			<p>"{{ laureate.quote }}"</p>
		</div>
		<br class="clear" />
		<p>{{ laureate.description }}</p>
		<div ng-repeat="paragraph in laureate.paragraphs">
			<h3 class="paragraph-title">{{ paragraph.title }}</h3>
			<p>{{ paragraph.text }}</p>
		</div>
		<hr />
		<div class="links">
			<div class="list-group">
				<a ng-href="{{ laureate.links[0] }}" class="list-group-item">Acceptance Speech by {{ laureate.name }}</a>
				<a ng-href="{{ laureate.links[1] }}" class="list-group-item">Publications by {{ laureate.name }}</a>
				<a ng-href="{{ laureate.links[2] }}" class="list-group-item">Interview with {{ laureate.name }}</a>
				<a ng-href="{{ laureate.links[3] }}" class="list-group-item">Pictures of {{ laureate.name }}</a>
				<a ng-href="{{ laureate.links[4] }}" class="list-group-item">News about {{ laureate.name }}</a>
				<a href="http://www.rightlivelihood.org/" class="list-group-item">Better World Links</a>
				<a href="http://www.rightlivelihood.org/" class="list-group-item">Contact Details</a>
			</div>
			<img src="images/logo200x200.png" class="rotate-y" />
		</div>
		<br class="clear" />
	</div>
</div>